h1{
    width: 60%;
}
#content
{
    width: 60%;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid blue;
}
table, th, td{
    border: 1px dotted red;
    /**/
}
table{
    border-collapse: collapse;
}
#prijava{
    text-align: right;
}
/* 
    Created on : 17.2.2026, 10:13:39
    Author     : miran.zevnik
*/

